{% extends "bases/base.html" %}

{% load static %}


{% block content %}

    

            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">{{team.libelle}}</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="bigslam-content-container bigslam-container">
                    <div class=" bigslam-sidebar-wrap clearfix bigslam-line-height-0 bigslam-sidebar-style-right">
                        <div class=" bigslam-sidebar-center bigslam-column-40 bigslam-line-height">
                            <div class="bigslam-content-wrap bigslam-item-pdlr clearfix">
                                <div class="bigslam-content-area">
                                    <article id="post-56" class="post-56 sp_team type-sp_team status-publish has-post-thumbnail hentry sp_league-nba sp_season-66 sp_season-65 sp_season-8 sp_venue-big-slam-stadium">
                                        <div class="bigslam-single-article">
                                            <div class="bigslam-single-article-content">
                                                <div class="sp-section-content sp-section-content-logo">
                                                    <div class="sp-template sp-template-team-logo sp-template-logo sp-team-logo">
                                                        <img width="105" height="128" src="{{team.logo}}" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" > </div>
                                                </div>
                                                <div class="sp-section-content sp-section-content-details">
                                                    <div class="sp-template sp-template-team-details sp-template-details">
                                                        <div class="sp-list-wrapper">
                                                            <ul class="sp-team-details clearfix">
                                                                <li><span class="gdlr-core-head">Competitions</span><span class="gdlr-core-tail">NBA</span></li>
                                                                <li><span class="gdlr-core-head">Seasons</span><span class="gdlr-core-tail">2015, 2016, 2017</span></li>
                                                                <li><span class="gdlr-core-head">Home</span><span class="gdlr-core-tail">{{team.stade}}</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sp-section-content sp-section-content-staff">
                                                    <h4 class="sp-staff-name"><span class="sp-staff-role">Coach</span>{{team.coach}}</h4>
                                                    <div class="sp-template sp-template-staff-photo sp-template-photo sp-staff-photo">
                                                        <img width="300" height="200" src="upload/shutterstock_232351570-300x200.jpg" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" > </div>
                                                    <div class="sp-template sp-template-staff-details sp-template-details">
                                                        <div class="sp-list-wrapper">
                                                            <dl class="sp-staff-details"><dt>Nationality</dt>
                                                                <dd><img src="plugins/sportspress/assets/images/flags/usa.png" alt="usa"> United States</dd><dt>Current Team</dt>
                                                                <dd>Big Slam</dd><dt>Past Teams</dt>
                                                                <dd>Golden States</dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="sp-tab-group"></div>
                                            </div>
                                        </div>
                                        <!-- bigslam-single-article -->
                                    </article>
                                    <!-- post-id -->
                                </div>
                                <div class="bigslam-page-builder-wrap bigslam-item-rvpdlr">
                                    <div class="gdlr-core-page-builder-body"></div>
                                </div>
                            </div>
                        </div>
                        <div class=" bigslam-sidebar-right bigslam-column-20 bigslam-line-height bigslam-line-height">
                            <div class="bigslam-sidebar-area bigslam-item-pdlr">
                                <div class="sp-widget-align-none">
                                    <div id="sportspress-countdown-2" class="widget widget_sportspress widget_countdown widget_sp_countdown bigslam-widget">
                                        <div class="sp-template sp-template-countdown">
                                            <div class="sp-countdown-wrapper">
                                                <h3 class="event-name sp-event-name">
                                                    <a href="#">Big Slam VS Miami Heats</a>       </h3>
                                                <p class="countdown sp-countdown long-countdown">
                                                    <time datetime="2022-03-10 12:59:30" data-countdown="2022/03/10 12:59:30">
                                                        <span>839 <small>days</small></span>
                                                        <span>03 <small>hrs</small></span>
                                                        <span>08 <small>mins</small></span>
                                                        <span>58 <small>secs</small></span>
                                                    </time>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sp-widget-align-none">
                                    <div id="sportspress-league-table-3" class="widget widget_sportspress widget_league_table widget_sp_league_table bigslam-widget">
                                        <h3 class="bigslam-widget-title">League Table</h3>
                                        <div class="sp-template sp-template-league-table">
                                            <div class="sp-table-wrapper">
                                                <table class="sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table" data-sp-rows="10">
                                                    <thead>
                                                        <tr>
                                                            <th class="data-rank">Pos</th>
                                                            <th class="data-name">Team</th>
                                                            <th class="data-w">W</th>
                                                            <th class="data-l">L</th>
                                                            <th class="data-pct">PCT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd sp-row-no-0">
                                                            <td class="data-rank" data-label="Pos">1</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="117" height="128" src="upload/team-8-117x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>New Yorkers</td>
                                                            <td class="data-w" data-label="W">1</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                            <td class="data-pct" data-label="PCT">1.000</td>
                                                        </tr>
                                                        <tr class="even sp-row-no-1">
                                                            <td class="data-rank" data-label="Pos">2</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="128" height="128" src="upload/team-9-128x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Antonio</td>
                                                            <td class="data-w" data-label="W">1</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                            <td class="data-pct" data-label="PCT">1.000</td>
                                                        </tr>
                                                        <tr class="odd sp-row-no-2">
                                                            <td class="data-rank" data-label="Pos">3</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="128" height="128" src="upload/team-6-128x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Los Angeles</td>
                                                            <td class="data-w" data-label="W">1</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                            <td class="data-pct" data-label="PCT">1.000</td>
                                                        </tr>
                                                        <tr class="even highlighted sp-row-no-3">
                                                            <td class="data-rank sp-highlight" data-label="Pos">4</td>
                                                            <td class="data-name has-logo sp-highlight" data-label="Team"><span class="team-logo"><img width="105" height="128" src="upload/team-1-105x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Big Slam</td>
                                                            <td class="data-w sp-highlight" data-label="W">7</td>
                                                            <td class="data-l sp-highlight" data-label="L">1</td>
                                                            <td class="data-pct sp-highlight" data-label="PCT">0.875</td>
                                                        </tr>
                                                        <tr class="odd sp-row-no-4">
                                                            <td class="data-rank" data-label="Pos">5</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="128" height="109" src="upload/team-7-128x109.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Oklahoma</td>
                                                            <td class="data-w" data-label="W">0</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                            <td class="data-pct" data-label="PCT">0.000</td>
                                                        </tr>
                                                        <tr class="even sp-row-no-5">
                                                            <td class="data-rank" data-label="Pos">6</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="118" height="128" src="upload/team-10-118x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Miami Heat</td>
                                                            <td class="data-w" data-label="W">0</td>
                                                            <td class="data-l" data-label="L">1</td>
                                                            <td class="data-pct" data-label="PCT">0.000</td>
                                                        </tr>
                                                        <tr class="odd sp-row-no-6">
                                                            <td class="data-rank" data-label="Pos">7</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="128" height="100" src="upload/team-3-128x100.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Boston Celtics</td>
                                                            <td class="data-w" data-label="W">0</td>
                                                            <td class="data-l" data-label="L">1</td>
                                                            <td class="data-pct" data-label="PCT">0.000</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}