{% extends "bases/base.html" %}

{% load static %}


{% block content %}

    

            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">{{team.libelle}}</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="bigslam-content-container bigslam-container">
                    <div class=" bigslam-sidebar-wrap clearfix bigslam-line-height-0 bigslam-sidebar-style-right">
                        <div class=" bigslam-sidebar-center bigslam-column-40 bigslam-line-height">
                            <div class="bigslam-content-wrap bigslam-item-pdlr clearfix">
                                <div class="bigslam-content-area">
                                    <article id="post-56" class="post-56 sp_team type-sp_team status-publish has-post-thumbnail hentry sp_league-nba sp_season-66 sp_season-65 sp_season-8 sp_venue-big-slam-stadium">
                                        <div class="bigslam-single-article">
                                            <div class="bigslam-single-article-content">
                                                <div class="sp-section-content sp-section-content-logo">
                                                    <div class="sp-template sp-template-team-logo sp-template-logo sp-team-logo">
                                                        <img width="105" height="128" src="{{team.logo.url}}" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" > </div>
                                                </div>
                                                <div class="sp-section-content sp-section-content-details">
                                                    <div class="sp-template sp-template-team-details sp-template-details">
                                                        <div class="sp-list-wrapper">
                                                            <ul class="sp-team-details clearfix">
                                                                <li><span class="gdlr-core-head">Competitions</span><span class="gdlr-core-tail">NBA</span></li>
                                                                <li><span class="gdlr-core-head">Pays</span><span class="gdlr-core-tail">{{team.nationnalite}}</span></li>
                                                                <li><span class="gdlr-core-head">Stade</span><span class="gdlr-core-tail">{{team.stade}}</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sp-section-content sp-section-content-staff">
                                                    <h4 class="sp-staff-name"><span class="sp-staff-role">Coach : </span>{{team.coach}}</h4>
                                                    <div class="sp-template sp-template-staff-photo sp-template-photo sp-staff-photo">
                                                        <img width="300" height="200" src="upload/shutterstock_232351570-300x200.jpg" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" > </div>
                                                </div>
                                                
                                                <div class="sp-tab-group"></div>
                                            </div>
                                        </div>
                                        <!-- bigslam-single-article -->
                                    </article>
                                    <!-- post-id -->
                                </div>
                                <div class="bigslam-page-builder-wrap bigslam-item-rvpdlr">
                                    <div class="gdlr-core-page-builder-body"></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

{% endblock %}