{% extends "bases/base.html" %}

{% load static %}


{% block content %}

            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-left-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">Game List</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 10px ;">
                                    <div class="gdlr-core-text-box-item-content">
                                        <div class="sportspress sp-widget-align-none">
                                            <div class="sp-template sp-template-event-list">
                                                <h4 class="sp-table-caption">Game List</h4>
                                                <div class="sp-table-wrapper">
                                                    <table class="sp-event-list sp-event-list-format-title sp-data-table sp-paginated-table sp-sortable-table sp-scrollable-table" data-sp-rows="10">
                                                        <thead>
                                                            <tr>
                                                                <th class="data-date">Date</th>
                                                                <th class="data-event">Event</th>
                                                                <th class="data-time">Time/Results</th>
                                                                <th class="data-league">Competition</th>
                                                                <th class="data-season">Season</th>
                                                                <th class="data-venue">Venue</th>
                                                                <th class="data-article">Article</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="sp-row sp-post alternate sp-row-no-0">
                                                                <td class="data-date">
                                                                    <a href="#">
                                                                        <date>2015-04-04 17:44:06</date>April 4, 2015</a>
                                                                </td>
                                                                <td class="data-event"><a href="#"> Big Slam VS Los Angeles </a></td>
                                                                <td class="data-time"><a href="#">92 - 84</a></td>
                                                                <td class="data-league">NBA</td>
                                                                <td class="data-season">2015</td>
                                                                <td class="data-venue">Golden States Stadium</td>
                                                                <td class="data-article">
                                                                    <a href="#">
                                                                        <div class="dashicons dashicons-video-alt"></div>Recap</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="sp-row sp-post sp-row-no-1">
                                                                <td class="data-date">
                                                                    <a href="#">
                                                                        <date>2016-04-04 17:47:41</date>April 4, 2016</a>
                                                                </td>
                                                                <td class="data-event"><a href="#"> Big Slam VS Golden States </a></td>
                                                                <td class="data-time"><a href="#">106 - 87</a></td>
                                                                <td class="data-league">NBA</td>
                                                                <td class="data-season">2016</td>
                                                                <td class="data-venue">Golden States Stadium</td>
                                                                <td class="data-article">
                                                                    <a href="#">
                                                                        <div class="dashicons dashicons-video-alt"></div>Recap</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="sp-row sp-post alternate sp-row-no-2">
                                                                <td class="data-date">
                                                                    <a href="#">
                                                                        <date>2017-01-03 10:32:00</date>January 3, 2017</a>
                                                                </td>
                                                                <td class="data-event"><a href="#"> Big Slam VS Golden States </a></td>
                                                                <td class="data-time"><a href="#">112 - 78</a></td>
                                                                <td class="data-league">NBA</td>
                                                                <td class="data-season">2017</td>
                                                                <td class="data-venue">Big Slam Stadium</td>
                                                                <td class="data-article">
                                                                    <a href="#">
                                                                        <div class="dashicons dashicons-video-alt"></div>Recap</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="sp-row sp-post sp-row-no-3">
                                                                <td class="data-date">
                                                                    <a href="#">
                                                                        <date>2017-01-16 16:00:20</date>January 16, 2017</a>
                                                                </td>
                                                                <td class="data-event"><a href="#"> Antonio VS Big Slam </a></td>
                                                                <td class="data-time"><a href="#">110 - 100</a></td>
                                                                <td class="data-league">NBA</td>
                                                                <td class="data-season">2017</td>
                                                                <td class="data-venue">Big Slam Stadium</td>
                                                                <td class="data-article">
                                                                    <a href="#">
                                                                        <div class="dashicons dashicons-video-alt"></div>Recap</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="sp-row sp-post alternate sp-row-no-4">
                                                                <td class="data-date">
                                                                    <a href="#">
                                                                        <date>2017-02-05 12:49:06</date>February 5, 2017</a>
                                                                </td>
                                                                <td class="data-event"><a href="#"> Big Slam VS Boston Celtics </a></td>
                                                                <td class="data-time"><a href="#">79 - 69</a></td>
                                                                <td class="data-league">NBA</td>
                                                                <td class="data-season">2017</td>
                                                                <td class="data-venue">Boston Celtics Arena</td>
                                                                <td class="data-article">
                                                                    <a href="#">
                                                                        <div class="dashicons dashicons-video-alt"></div>Recap</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="sp-row sp-post sp-row-no-5">
                                                                <td class="data-date">
                                                                    <a href="#">
                                                                        <date>2017-02-14 12:56:13</date>February 14, 2017</a>
                                                                </td>
                                                                <td class="data-event"><a href="#"> Big Slam VS Chicago Bulls </a></td>
                                                                <td class="data-time"><a href="#">78 - 68</a></td>
                                                                <td class="data-league">NBA</td>
                                                                <td class="data-season">2017</td>
                                                                <td class="data-venue">Chicago Bulls Arena</td>
                                                                <td class="data-article">
                                                                    <a href="#">
                                                                        <div class="dashicons dashicons-video-alt"></div>Recap</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="sp-row sp-post alternate sp-row-no-6">
                                                                <td class="data-date">
                                                                    <a href="#">
                                                                        <date>2017-03-05 18:25:51</date>March 5, 2017</a>
                                                                </td>
                                                                <td class="data-event"><a href="#"> Houston Rockets VS Big Slam </a></td>
                                                                <td class="data-time"><a href="#">68 - 90</a></td>
                                                                <td class="data-league">NBA</td>
                                                                <td class="data-season">2017</td>
                                                                <td class="data-venue">Houston House</td>
                                                                <td class="data-article">
                                                                    <a href="#">
                                                                        <div class="dashicons dashicons-video-alt"></div>Recap</a>
                                                                </td>
                                                            </tr>
                                                            <tr class="sp-row sp-post sp-row-no-7">
                                                                <td class="data-date">
                                                                    <a href="#">
                                                                        <date>2017-03-18 18:29:55</date>March 18, 2017</a>
                                                                </td>
                                                                <td class="data-event"><a href="#"> Los Angeles VS Big Slam </a></td>
                                                                <td class="data-time"><a href="#">74 - 70</a></td>
                                                                <td class="data-league">NBA</td>
                                                                <td class="data-season">2017</td>
                                                                <td class="data-venue">Houston House</td>
                                                                <td class="data-article">
                                                                    <a href="#">
                                                                        <div class="dashicons dashicons-video-alt"></div>Recap</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock blockname %}