{% extends "bases/base.html" %}

{% load static %}


{% block content %}

            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-left-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">Game Calendar</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                    <div class="gdlr-core-title-item-title-wrap ">
                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 26px ;">Big Slam Calendar<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content">
                                        <div class="sportspress sp-widget-align-none">
                                            <div class="sp-template sp-template-event-calendar">

                                                <div class="sp-calendar-wrapper">
                                                    <table id="wp-calendar" class="sp-calendar sp-event-calendar sp-data-table">
                                                        <caption class="sp-table-caption">November 2019</caption>
                                                        <thead>
                                                            <tr>
                                                                <th scope="col" title="Monday">M</th>
                                                                <th scope="col" title="Tuesday">T</th>
                                                                <th scope="col" title="Wednesday">W</th>
                                                                <th scope="col" title="Thursday">T</th>
                                                                <th scope="col" title="Friday">F</th>
                                                                <th scope="col" title="Saturday">S</th>
                                                                <th scope="col" title="Sunday">S</th>
                                                            </tr>
                                                        </thead>

                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="3" id="prev" class="sp-previous-month"><a data-tooltip="" data-options="disable_for_touch:true" class="has-tooltip tip-right" href="index-1.htm?sp_year=2017&sp_month=4" title="April 2017">&laquo; Apr</a></td>
                                                                <td class="pad">&nbsp;</td>
                                                                <td colspan="3" id="next" class="sp-next-month"><a data-tooltip="" data-options="disable_for_touch:true" class="has-tooltip tip-left" href="index-2.htm?sp_year=2022&sp_month=3" title="March 2022">Mar &raquo;</a></td>
                                                            </tr>
                                                        </tfoot>

                                                        <tbody>
                                                            <tr>
                                                                <td colspan="4" class="pad">&nbsp;</td>
                                                                <td>1</td>
                                                                <td>2</td>
                                                                <td>3</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>5</td>
                                                                <td>6</td>
                                                                <td>7</td>
                                                                <td>8</td>
                                                                <td>9</td>
                                                                <td>10</td>
                                                            </tr>
                                                            <tr>
                                                                <td>11</td>
                                                                <td>12</td>
                                                                <td>13</td>
                                                                <td>14</td>
                                                                <td>15</td>
                                                                <td>16</td>
                                                                <td>17</td>
                                                            </tr>
                                                            <tr>
                                                                <td>18</td>
                                                                <td>19</td>
                                                                <td>20</td>
                                                                <td>21</td>
                                                                <td id="today" class="sp-highlight">22</td>
                                                                <td>23</td>
                                                                <td>24</td>
                                                            </tr>
                                                            <tr>
                                                                <td>25</td>
                                                                <td>26</td>
                                                                <td>27</td>
                                                                <td>28</td>
                                                                <td>29</td>
                                                                <td>30</td>
                                                                <td class="pad" colspan="1">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock blockname %}