{% extends "bases/base.html" %}

{% load static %}


{% block content %}


            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">Games Details</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                    <div class="gdlr-core-title-item-title-wrap ">
                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 26px ;">Antonio Spurs VS Big Slam<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content">
                                        <div class="sportspress sp-widget-align-none">
                                            <div class="sp-template sp-template-event-details">
                                                <h4 class="sp-table-caption">Details</h4>
                                                <div class="sp-table-wrapper">
                                                    <table class="sp-event-details sp-data-table sp-scrollable-table">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Time</th>
                                                                <th>League</th>
                                                                <th>Season</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="odd">
                                                                <td>February 5, 2017</td>
                                                                <td>12:49 pm</td>
                                                                <td>NBA</td>
                                                                <td>2017</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                    <div class="gdlr-core-title-item-title-wrap ">
                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 26px ;">Boston Celtics VS Big Slam<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 10px ;">
                                    <div class="gdlr-core-text-box-item-content">
                                        <div class="sportspress sp-widget-align-none">
                                            <div class="sp-template sp-template-event-details">
                                                <h4 class="sp-table-caption">Details</h4>
                                                <div class="sp-table-wrapper">
                                                    <table class="sp-event-details sp-data-table sp-scrollable-table">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Time</th>
                                                                <th>League</th>
                                                                <th>Season</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="odd">
                                                                <td>February 5, 2017</td>
                                                                <td>12:49 pm</td>
                                                                <td>NBA</td>
                                                                <td>2017</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock blockname %}