{% extends "bases/base.html" %}

{% load static %}


{% block content %}


            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-revolution-slider-item gdlr-core-item-pdlr gdlr-core-item-pdb " style="padding-bottom: 0px ;">
                                        <!-- START Homepage REVOLUTION SLIDER 6.1.5 -->
                                        <p class="rs-p-wp-fix"></p>
                                        <rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="background:#212121;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
                                            <rs-module id="rev_slider_1_1" style="display:none;" data-version="6.1.5">
                                                <rs-slides>
                                                    <rs-slide data-key="rs-1" data-title="Slide" data-thumb="#" data-anim="ei:d;eo:d;s:600;r:0;t:fade;sl:d;">
                                                        <img src=" {% static 'upload/bag1.jpg' %}" title="Homepage" class="rev-slidebg" data-no-retina="">

                                                        <rs-layer id="slider-1-slide-1-layer-1" data-type="text" data-color="#ec4613" data-rsp_ch="on" data-xy="xo:40px,40px,40px,45px;y:m;yo:-3px,-3px,-3px,-170px;" data-text="s:17;l:22;ls:3px;a:inherit;" data-frame_0="tp:600;" data-frame_1="tp:600;st:180;sR:180;" data-frame_999="o:0;tp:600;st:w;sR:8520;" style="z-index:5;font-family:Roboto Condensed;text-transform:uppercase;">Nous sommes les meilleurs
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-1-layer-2" class="tp-shape tp-shapewrapper" data-type="shape" data-rsp_ch="on" data-xy="xo:183px,183px,183px,177px;y:m;yo:-2px,-2px,-2px,-171px;" data-text="a:inherit;" data-dim="w:35px;h:1px;" data-frame_0="tp:600;" data-frame_1="tp:600;st:360;sR:360;" data-frame_999="o:0;tp:600;st:w;sR:8340;" style="z-index:6;background-color:#ec4613;">
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-1-layer-3" data-type="text" data-color="#ec4613" data-rsp_ch="on" data-xy="xo:32px,32px,32px,41px;y:m;yo:87px,87px,87px,-97px;" data-text="s:140,140,140,80;l:auto,auto,auto,60;fw:700;a:inherit;" data-frame_0="tp:600;" data-frame_1="tp:600;e:Power3.easeOut;st:530;sp:1500;sR:530;" data-frame_999="o:0;tp:600;st:w;sR:6970;" style="z-index:7;font-family:Roboto Condensed;">BIG
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-1-layer-4" data-type="text" data-rsp_ch="on" data-xy="xo:239px,239px,239px,164px;y:m;yo:87px,87px,87px,-97px;" data-text="s:140,140,140,80;l:auto,auto,auto,60;fw:700;a:inherit;" data-frame_0="tp:600;" data-frame_1="tp:600;e:Power3.easeOut;st:540;sp:1500;sR:540;" data-frame_999="o:0;tp:600;st:w;sR:6960;" style="z-index:8;font-family:Roboto Condensed;">SLAM
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-1-layer-5" data-type="text" data-rsp_ch="on" data-xy="xo:38px,38px,38px,44px;y:m;yo:181px,181px,181px,-27px;" data-text="s:33,33,33,23;l:33;ls:1px;fw:300;a:inherit;" data-frame_0="x:50px;tp:600;" data-frame_1="tp:600;st:700;sR:700;" data-frame_999="o:0;tp:600;st:w;sR:8000;" style="z-index:9;font-family:Roboto Condensed;">L'ÉQUIPE de la victoire
                                                        </rs-layer>
                                                        <!-- -->
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-1-layer-7" data-type="image" data-rsp_ch="on" data-xy="x:r;xo:418px,418px,418px,366px;y:b;yo:93px,93px,93px,111px;" data-text="l:22;a:inherit;" data-dim="w:85px,85px,85px,59px;h:43px,43px,43px,30px;" data-frame_0="tp:600;" data-frame_1="tp:600;st:1160;sR:1160;" data-frame_999="o:0;tp:600;st:w;sR:7540;" style="z-index:7;"><img src=" {% static 'upload/banner-1.png' %}" width="85" height="43" data-no-retina="" alt="">
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-1-layer-10" data-type="image" data-rsp_ch="on" data-xy="x:r;xo:229px,229px,229px,230px;y:b;yo:98px,98px,98px,113px;" data-text="l:22;a:inherit;" data-dim="w:150px,150px,150px,116px;h:14px,14px,14px,11px;" data-frame_0="tp:600;" data-frame_1="tp:600;st:1420;sR:1420;" data-frame_999="o:0;tp:600;st:w;sR:7280;" style="z-index:14;"><img src=" {% static 'upload/banner-2.png' %}" width="150" height="14" data-no-retina="" alt="">
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-1-layer-11" data-type="image" data-rsp_ch="on" data-xy="x:r;xo:39px,39px,39px,92px;y:b;yo:92px,92px,92px,110px;" data-text="l:22;a:inherit;" data-dim="w:156px,156px,156px,113px;h:27px,27px,27px,20px;" data-frame_0="tp:600;" data-frame_1="tp:600;st:1710;sR:1710;" data-frame_999="o:0;tp:600;st:w;sR:6990;" style="z-index:15;"><img src=" {% static 'upload/banner-3.png' %}" width="156" height="27" data-no-retina="" alt="">
                                                        </rs-layer>
                                                        <!---->
                                                    </rs-slide>
                                                    <rs-slide data-key="rs-3" data-title="Slide" data-thumb="#" data-anim="ei:d;eo:d;s:600;r:0;t:fade;sl:d;">
                                                        <img src="{% static 'upload/bag2.jpg' %}" title="Homepage" data-bg="p:center top;" class="rev-slidebg" data-no-retina="">
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-3-layer-1" data-type="text" data-color="#ec4613" data-rsp_ch="on" data-xy="xo:40px,40px,40px,42px;y:m;yo:-3px,-3px,-3px,-165px;" data-text="s:17;l:22;ls:3px;a:inherit;" data-frame_0="tp:600;" data-frame_1="tp:600;st:180;sR:180;" data-frame_999="o:0;tp:600;st:w;sR:8520;" style="z-index:5;font-family:Roboto Condensed;text-transform:uppercase;">les éléphants volants!
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-3-layer-2" class="tp-shape tp-shapewrapper" data-type="shape" data-rsp_ch="on" data-xy="xo:232px,232px,232px,234px;y:m;yo:-3px,-3px,-3px,-166px;" data-text="a:inherit;" data-dim="w:35px;h:1px;" data-frame_0="tp:600;" data-frame_1="tp:600;st:360;sR:360;" data-frame_999="o:0;tp:600;st:w;sR:8340;" style="z-index:6;background-color:#ec4613;">
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-3-layer-3" data-type="text" data-color="#ec4613" data-rsp_ch="on" data-xy="xo:32px,32px,32px,37px;y:m;yo:87px,87px,87px,-96px;" data-text="s:115,115,115,60;l:auto,auto,auto,70;fw:700;a:inherit;" data-frame_0="tp:600;" data-frame_1="tp:600;e:Power3.easeOut;st:530;sp:1500;sR:530;" data-frame_999="o:0;tp:600;st:w;sR:6970;" style="z-index:7;font-family:Roboto Condensed;">Dunker|
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-3-layer-4" data-type="text" data-rsp_ch="on" data-xy="xo:365px,365px,365px,213px;y:m;yo:87px,87px,87px,-96px;" data-text="s:115,115,115,60;l:auto,auto,auto,70;fw:700;a:inherit;" data-frame_0="tp:600;" data-frame_1="tp:600;e:Power3.easeOut;st:540;sp:1500;sR:540;" data-frame_999="o:0;tp:600;st:w;sR:6960;" style="z-index:8;font-family:Roboto Condensed;">Avec Le Slam
                                                        </rs-layer>
                                                        <!-- -->
                                                        <rs-layer id="slider-1-slide-3-layer-5" data-type="text" data-rsp_ch="on" data-xy="xo:38px,38px,38px,40px;y:m;yo:164px,164px,164px,-44px;" data-text="s:33,33,33,23;l:33;ls:1px;fw:300;a:inherit;" data-frame_0="x:50px;tp:600;" data-frame_1="tp:600;st:700;sR:700;" data-frame_999="o:0;tp:600;st:w;sR:8000;" style="z-index:9;font-family:Roboto Condensed;">La meilleur équipe de la saison
                                                        </rs-layer>
                                                        <!-- -->
                                                    </rs-slide>
                                                </rs-slides>
                                                <rs-progress class="rs-bottom" style="visibility: hidden !important;"></rs-progress>
                                            </rs-module>

                                        </rs-module-wrap>
                                        <!-- END REVOLUTION SLIDER -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper " style="padding: 75px 0px 30px 0px;" data-skin="HP Featured Match">
                        <div class="gdlr-core-pbf-background-wrap">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url({% static 'upload/hp-score-bg.jpg' %}) ;background-size: cover ;background-position: center ;" data-parallax-speed="0.2"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full-no-space">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-sp-featured-event-item gdlr-core-item-pdb clearfix " style="padding-bottom: 115px ;">
                                        <div class="bigslam-sp-event-featured-top bigslam-status-score">
                                            <div class="bigslam-sp-event-featured-title bigslam-title-font clearfix">
                                                <div class="bigslam-sp-event-featured-title-left"><span class="bigslam-sp-team-logo"><img width="200" height="244" src="{% static 'upload/team-1.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">BigSlam</span></div><span class="bigslam-sp-event-result"><a href="#">78<span class="bigslam-sp-event-result-sep"> - </span>79</a>
                                                </span>
                                                <div class="bigslam-sp-event-featured-title-right"><span class="bigslam-sp-team-logo"><img width="200" height="219" src="{% static 'upload/team-8.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Mali Basketball</span></div>
                                            </div>
                                            <div class="bigslam-sp-event-featured-info"><span class="bigslam-sp-event-date">10 Juin 2020</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Mali Basketball Stadium</a></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 35px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 0px ;">
                                                    <div class="gdlr-core-text-box-item-content">
                                                        <div class="sportspress sp-widget-align-none">
                                                            <div class="sp-template sp-template-event-list">
                                                                <div class="bigslam-sp-event-featured-holder clearfix">
                                                                    <div class="bigslam-sp-event-featured-top bigslam-status-vs">
                                                                        <div class="bigslam-sp-event-featured-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-featured-title-left"><span class="bigslam-sp-team-logo"><img width="200" height="244" src="{% static 'upload/team-1.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt=""  ></span><span class="bigslam-sp-team-name">Big Slam</span></div><span class="bigslam-sp-event-result"><a href="#">VS</a></span>
                                                                            <div class="bigslam-sp-event-featured-title-right"><span class="bigslam-sp-team-logo"><img width="200" height="217" src="{% static 'upload/team-10.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Miami Heat</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-featured-info"><span class="bigslam-sp-event-date">March 10, 2022</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">New Yorkers Stadium</a></span></div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-featured-list clearfix">
                                                                        <div class="bigslam-sp-event-featured-title bigslam-title-font"><span class="bigslam-sp-team-logo"><img width="200" height="244" src="{% static 'upload/team-1.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt=""  ></span><span class="bigslam-sp-team-name">Big Slam</span><span class="bigslam-sp-event-result"><a href="#">VS</a></span><span class="bigslam-sp-team-name">Oklahoma</span><span class="bigslam-sp-team-logo"><img width="200" height="171" src="{% static 'upload/team-7.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" ></span></div>
                                                                        <div class="bigslam-sp-event-featured-info"><span class="bigslam-sp-event-date">April 5, 2023</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Boston Celtics Arena</a></span>
                                                                            <a class="bigslam-sp-event-link" href="#">
                                                                                <div class="dashicons dashicons-video-alt"></div>Preview<i class="fa fa-long-arrow-right"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-featured-list clearfix">
                                                                        <div class="bigslam-sp-event-featured-title bigslam-title-font"><span class="bigslam-sp-team-logo"><img width="200" height="219" src="{% static 'upload/team-8.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">New Yorkers</span><span class="bigslam-sp-event-result"><a href="#">VS</a></span><span class="bigslam-sp-team-name">Big Slam</span><span class="bigslam-sp-team-logo"><img width="200" height="244" src="{% static 'upload/team-1.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" ></span></div>
                                                                        <div class="bigslam-sp-event-featured-info"><span class="bigslam-sp-event-date">April 10, 2024</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">New Yorkers Stadium</a></span>
                                                                            <a class="bigslam-sp-event-link" href="#">
                                                                                <div class="dashicons dashicons-video-alt"></div>Preview<i class="fa fa-long-arrow-right"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-featured-list clearfix">
                                                                        <div class="bigslam-sp-event-featured-title bigslam-title-font"><span class="bigslam-sp-team-logo"><img width="200" height="244" src="{% static 'upload/team-1.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt=""  ></span><span class="bigslam-sp-team-name">Big Slam</span><span class="bigslam-sp-event-result"><a href="#">VS</a></span><span class="bigslam-sp-team-name">Houston</span><span class="bigslam-sp-team-logo"><img width="200" height="180" src="{% static 'upload/team-5.png' %}" class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" ></span></div>
                                                                        <div class="bigslam-sp-event-featured-info"><span class="bigslam-sp-event-date">April 6, 2025</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Houston House</a></span>
                                                                            <a class="bigslam-sp-event-link" href="#">
                                                                                <div class="dashicons dashicons-video-alt"></div>Preview<i class="fa fa-long-arrow-right"></i></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" style="margin-top: -37px ;"><a class="gdlr-core-button  gdlr-core-button-gradient gdlr-core-button-no-border gdlr-core-button-full-width" href="#" style="font-size: 13px ;color: #ec4613 ;border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px;background: #252525 ;"><span class="gdlr-core-content">View Schedule</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-20">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-background-wrap"></div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 0px ;">
                                                    <div class="gdlr-core-text-box-item-content">
                                                        <div class="sportspress sp-widget-align-none">
                                                            <div class="sp-template sp-template-event-list">
                                                                <h4 class="sp-table-caption">Latest Result</h4>
                                                                <div class="bigslam-sp-event-widget-holder clearfix">
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="26" height="32" src="{% static 'upload/team-1-26x32.png' %} " class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Big Slam</span></div><span class="bigslam-sp-event-result"><a href="#">92<span class="bigslam-sp-event-result-sep"> - </span>84</a>
                                                                            </span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="32" height="32" src="{% static 'upload/team-6-32x32.png' %} " class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt=""  ></span><span class="bigslam-sp-team-name">Los Angeles</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">April 4, 2015</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Golden States Stadium</a></span></div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="26" height="32" src="{% static 'upload/team-1-26x32.png' %} " class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Big Slam</span></div><span class="bigslam-sp-event-result"><a href="#">106<span class="bigslam-sp-event-result-sep"> - </span>87</a>
                                                                            </span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="32" height="28" src="{% static 'upload/team-2-32x28.png' %} " class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Golden States</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">April 4, 2016</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Golden States Stadium</a></span></div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="26" height="32" src="{% static 'upload/team-1-26x32.png' %}" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Big Slam</span></div><span class="bigslam-sp-event-result"><a href="#">112<span class="bigslam-sp-event-result-sep"> - </span>78</a>
                                                                            </span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="32" height="28" src="{% static 'upload/team-2-32x28.png' %}" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Golden States</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">January 3, 2017</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Big Slam Stadium</a></span></div>
                                                                    </div>
                                                                    <div class="bigslam-sp-event-widget-list">
                                                                        <div class="bigslam-sp-event-widget-title bigslam-title-font clearfix">
                                                                            <div class="bigslam-sp-event-widget-title-left"><span class="bigslam-sp-team-logo"><img width="32" height="32" src="{% static 'upload/team-9-32x32.png' %}" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Antonio</span></div><span class="bigslam-sp-event-result"><a href="#">110<span class="bigslam-sp-event-result-sep"> - </span>100</a>
                                                                            </span>
                                                                            <div class="bigslam-sp-event-widget-title-right"><span class="bigslam-sp-team-logo"><img width="26" height="32" src="{% static 'upload/team-1-26x32.png' %}" class="attachment-sportspress-fit-mini size-sportspress-fit-mini wp-post-image" alt="" ></span><span class="bigslam-sp-team-name">Big Slam</span></div>
                                                                        </div>
                                                                        <div class="bigslam-sp-event-widget-info"><span class="bigslam-sp-event-date">January 16, 2017</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">Big Slam Stadium</a></span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align" style="padding-bottom: 40px ;margin-top: -15px ;"><a class="gdlr-core-button  gdlr-core-button-transparent gdlr-core-button-no-border" href="#" style="font-size: 13px ;color: #ec4613 ;padding: 0px 0px 0px 0px;"><span class="gdlr-core-content">View All Results</span><i class="gdlr-core-pos-right fa fa-long-arrow-right"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   

                    
                </div>
            </div>
{% endblock  %}