{% extends "bases/base.html" %}

{% load static %}


{% block content %}


            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-left-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">League Table</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 0px ;">
                                    <div class="gdlr-core-text-box-item-content">
                                        <div class="sportspress sp-widget-align-none">
                                            <div class="sp-template sp-template-league-table">
                                                <div class="sp-table-wrapper">
                                                    <table class="sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table" data-sp-rows="10">
                                                        <thead>
                                                            <tr>
                                                                <th class="data-rank">Pos</th>
                                                                <th class="data-name">Team</th>
                                                                <th class="data-w">W</th>
                                                                <th class="data-l">L</th>
                                                                <th class="data-pct">PCT</th>
                                                                <th class="data-gb">GB</th>
                                                                <th class="data-home">Home</th>
                                                                <th class="data-road">Road</th>
                                                                <th class="data-lten">L10</th>
                                                                <th class="data-strk">STRK</th>
                                                                <th class="data-pf">PF</th>
                                                                <th class="data-pa">PA</th>
                                                                <th class="data-diff">DIFF</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="odd sp-row-no-0">
                                                                <td class="data-rank" data-label="Pos">1</td>
                                                                <td class="data-name" data-label="Team">New Yorkers</td>
                                                                <td class="data-w" data-label="W">1</td>
                                                                <td class="data-l" data-label="L">0</td>
                                                                <td class="data-pct" data-label="PCT">1.000</td>
                                                                <td class="data-gb" data-label="GB">0</td>
                                                                <td class="data-home" data-label="Home">0-0</td>
                                                                <td class="data-road" data-label="Road">1-0</td>
                                                                <td class="data-lten" data-label="L10">1-0</td>
                                                                <td class="data-strk" data-label="STRK"><span style="color:#888888">W1</span></td>
                                                                <td class="data-pf" data-label="PF">97</td>
                                                                <td class="data-pa" data-label="PA">78</td>
                                                                <td class="data-diff" data-label="DIFF">19</td>
                                                            </tr>
                                                            <tr class="even sp-row-no-1">
                                                                <td class="data-rank" data-label="Pos">2</td>
                                                                <td class="data-name" data-label="Team">Antonio</td>
                                                                <td class="data-w" data-label="W">1</td>
                                                                <td class="data-l" data-label="L">0</td>
                                                                <td class="data-pct" data-label="PCT">1.000</td>
                                                                <td class="data-gb" data-label="GB">0</td>
                                                                <td class="data-home" data-label="Home">1-0</td>
                                                                <td class="data-road" data-label="Road">0-0</td>
                                                                <td class="data-lten" data-label="L10">1-0</td>
                                                                <td class="data-strk" data-label="STRK"><span style="color:#888888">W1</span></td>
                                                                <td class="data-pf" data-label="PF">110</td>
                                                                <td class="data-pa" data-label="PA">100</td>
                                                                <td class="data-diff" data-label="DIFF">10</td>
                                                            </tr>
                                                            <tr class="odd sp-row-no-2">
                                                                <td class="data-rank" data-label="Pos">3</td>
                                                                <td class="data-name" data-label="Team">Los Angeles</td>
                                                                <td class="data-w" data-label="W">1</td>
                                                                <td class="data-l" data-label="L">0</td>
                                                                <td class="data-pct" data-label="PCT">1.000</td>
                                                                <td class="data-gb" data-label="GB">0</td>
                                                                <td class="data-home" data-label="Home">1-0</td>
                                                                <td class="data-road" data-label="Road">0-0</td>
                                                                <td class="data-lten" data-label="L10">1-0</td>
                                                                <td class="data-strk" data-label="STRK"><span style="color:#888888">W1</span></td>
                                                                <td class="data-pf" data-label="PF">74</td>
                                                                <td class="data-pa" data-label="PA">70</td>
                                                                <td class="data-diff" data-label="DIFF">4</td>
                                                            </tr>
                                                            <tr class="even highlighted sp-row-no-3">
                                                                <td class="data-rank sp-highlight" data-label="Pos">4</td>
                                                                <td class="data-name sp-highlight" data-label="Team">Big Slam</td>
                                                                <td class="data-w sp-highlight" data-label="W">7</td>
                                                                <td class="data-l sp-highlight" data-label="L">1</td>
                                                                <td class="data-pct sp-highlight" data-label="PCT">0.875</td>
                                                                <td class="data-gb sp-highlight" data-label="GB">-2.5</td>
                                                                <td class="data-home sp-highlight" data-label="Home">4-1</td>
                                                                <td class="data-road sp-highlight" data-label="Road">3-0</td>
                                                                <td class="data-lten sp-highlight" data-label="L10">7-1</td>
                                                                <td class="data-strk sp-highlight" data-label="STRK"><span style="color:#888888">L1</span></td>
                                                                <td class="data-pf sp-highlight" data-label="PF">85</td>
                                                                <td class="data-pa sp-highlight" data-label="PA">79</td>
                                                                <td class="data-diff sp-highlight" data-label="DIFF">6</td>
                                                            </tr>
                                                            <tr class="odd sp-row-no-4">
                                                                <td class="data-rank" data-label="Pos">5</td>
                                                                <td class="data-name" data-label="Team">Oklahoma</td>
                                                                <td class="data-w" data-label="W">0</td>
                                                                <td class="data-l" data-label="L">0</td>
                                                                <td class="data-pct" data-label="PCT">0.000</td>
                                                                <td class="data-gb" data-label="GB">0.5</td>
                                                                <td class="data-home" data-label="Home">0-0</td>
                                                                <td class="data-road" data-label="Road">0-0</td>
                                                                <td class="data-lten" data-label="L10">0</td>
                                                                <td class="data-strk" data-label="STRK">0</td>
                                                                <td class="data-pf" data-label="PF">0</td>
                                                                <td class="data-pa" data-label="PA">0</td>
                                                                <td class="data-diff" data-label="DIFF">0</td>
                                                            </tr>
                                                            <tr class="even sp-row-no-5">
                                                                <td class="data-rank" data-label="Pos">6</td>
                                                                <td class="data-name" data-label="Team">Miami Heat</td>
                                                                <td class="data-w" data-label="W">0</td>
                                                                <td class="data-l" data-label="L">1</td>
                                                                <td class="data-pct" data-label="PCT">0.000</td>
                                                                <td class="data-gb" data-label="GB">1</td>
                                                                <td class="data-home" data-label="Home">0-0</td>
                                                                <td class="data-road" data-label="Road">0-1</td>
                                                                <td class="data-lten" data-label="L10">0-1</td>
                                                                <td class="data-strk" data-label="STRK"><span style="color:#888888">L1</span></td>
                                                                <td class="data-pf" data-label="PF">70</td>
                                                                <td class="data-pa" data-label="PA">71</td>
                                                                <td class="data-diff" data-label="DIFF">-1</td>
                                                            </tr>
                                                            <tr class="odd sp-row-no-6">
                                                                <td class="data-rank" data-label="Pos">7</td>
                                                                <td class="data-name" data-label="Team">Boston Celtics</td>
                                                                <td class="data-w" data-label="W">0</td>
                                                                <td class="data-l" data-label="L">1</td>
                                                                <td class="data-pct" data-label="PCT">0.000</td>
                                                                <td class="data-gb" data-label="GB">1</td>
                                                                <td class="data-home" data-label="Home">0-0</td>
                                                                <td class="data-road" data-label="Road">0-1</td>
                                                                <td class="data-lten" data-label="L10">0-1</td>
                                                                <td class="data-strk" data-label="STRK"><span style="color:#888888">L1</span></td>
                                                                <td class="data-pf" data-label="PF">69</td>
                                                                <td class="data-pa" data-label="PA">79</td>
                                                                <td class="data-diff" data-label="DIFF">-10</td>
                                                            </tr>
                                                            <tr class="even sp-row-no-7">
                                                                <td class="data-rank" data-label="Pos">8</td>
                                                                <td class="data-name" data-label="Team">Chicago Bulls</td>
                                                                <td class="data-w" data-label="W">0</td>
                                                                <td class="data-l" data-label="L">1</td>
                                                                <td class="data-pct" data-label="PCT">0.000</td>
                                                                <td class="data-gb" data-label="GB">1</td>
                                                                <td class="data-home" data-label="Home">0-0</td>
                                                                <td class="data-road" data-label="Road">0-1</td>
                                                                <td class="data-lten" data-label="L10">0-1</td>
                                                                <td class="data-strk" data-label="STRK"><span style="color:#888888">L1</span></td>
                                                                <td class="data-pf" data-label="PF">68</td>
                                                                <td class="data-pa" data-label="PA">78</td>
                                                                <td class="data-diff" data-label="DIFF">-10</td>
                                                            </tr>
                                                            <tr class="odd sp-row-no-8">
                                                                <td class="data-rank" data-label="Pos">9</td>
                                                                <td class="data-name" data-label="Team">Houston</td>
                                                                <td class="data-w" data-label="W">0</td>
                                                                <td class="data-l" data-label="L">1</td>
                                                                <td class="data-pct" data-label="PCT">0.000</td>
                                                                <td class="data-gb" data-label="GB">1</td>
                                                                <td class="data-home" data-label="Home">0-1</td>
                                                                <td class="data-road" data-label="Road">0-0</td>
                                                                <td class="data-lten" data-label="L10">0-1</td>
                                                                <td class="data-strk" data-label="STRK"><span style="color:#888888">L1</span></td>
                                                                <td class="data-pf" data-label="PF">68</td>
                                                                <td class="data-pa" data-label="PA">90</td>
                                                                <td class="data-diff" data-label="DIFF">-22</td>
                                                            </tr>
                                                            <tr class="even sp-row-no-9">
                                                                <td class="data-rank" data-label="Pos">10</td>
                                                                <td class="data-name" data-label="Team">Golden States</td>
                                                                <td class="data-w" data-label="W">0</td>
                                                                <td class="data-l" data-label="L">1</td>
                                                                <td class="data-pct" data-label="PCT">0.000</td>
                                                                <td class="data-gb" data-label="GB">1</td>
                                                                <td class="data-home" data-label="Home">0-0</td>
                                                                <td class="data-road" data-label="Road">0-1</td>
                                                                <td class="data-lten" data-label="L10">0-1</td>
                                                                <td class="data-strk" data-label="STRK"><span style="color:#888888">L1</span></td>
                                                                <td class="data-pf" data-label="PF">78</td>
                                                                <td class="data-pa" data-label="PA">112</td>
                                                                <td class="data-diff" data-label="DIFF">-34</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}