{% extends "bases/base.html" %}

{% load static %}


{% block content %}


            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-left-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">{{joueur.nom}}</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="bigslam-content-container bigslam-container">
                    <div class=" bigslam-sidebar-wrap clearfix bigslam-line-height-0 bigslam-sidebar-style-right">
                        <div class=" bigslam-sidebar-center bigslam-column-40 bigslam-line-height">
                            <div class="gdlr-core-page-builder-body">
                                <div class="gdlr-core-pbf-section">
                                    <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                <div class="gdlr-core-title-item-title-wrap ">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 26px ;">{{joueur.nom}}<span class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"></span></h3></div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                <div class="gdlr-core-text-box-item-content">
                                                    <div class="sportspress sp-widget-align-none">
                                                        <div class="sp-template sp-template-player-photo sp-template-photo sp-player-photo">
                                                            <img width="213" height="300" src="{% static 'upload/player-6-213x300.jpg' %} " class="attachment-sportspress-fit-medium size-sportspress-fit-medium wp-post-image" alt="" > </div>
                                                        <div class="sp-template sp-template-player-details sp-template-details">
                                                            <div class="sp-list-wrapper">
                                                                <dl class="sp-player-details">
                                                                    <dt>#</dt>
                                                                        <dd>{{joueur.maillot}}</dd>
                                                                    <dt>Name</dt>
                                                                        <dd>{{joueur.nom}}</dd>
                                                                        <dd><img src="{{joueur.photo.url}}" width="300" height="300" alt="svk"></dd>
                                                                    <dt>Origne</dt>
                                                                        <dd>{{joueur.nationnalite}}</dd>
                                                                    <dt>Position</dt>
                                                                        <dd>{{joueur.position}}</dd>
                                                                    <dt>Taille</dt>
                                                                        <dd>{{joueur.taille}} Cm</dd>
                                                                    <dt>Weight</dt>
                                                                        <dd>{{joueur.masse}} Kg</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" bigslam-sidebar-right bigslam-column-20 bigslam-line-height bigslam-line-height">
                            <div class="bigslam-sidebar-area bigslam-item-pdlr">
                                <div class="sp-widget-align-none">
                                    <div id="sportspress-countdown-2" class="widget widget_sportspress widget_countdown widget_sp_countdown bigslam-widget">
                                        <div class="sp-template sp-template-countdown">
                                            <div class="sp-countdown-wrapper">
                                                <h3 class="event-name sp-event-name">
                                                    <a href="#">Big Slam VS Mali Basket...</a>
                                                </h3>
                                                <p class="countdown sp-countdown long-countdown">
                                                    <time datetime="2022-03-10 12:59:30" data-countdown="2022/03/10 12:59:30">
                                                        <span>2 <small>days</small></span>
                                                        <span>03 <small>hrs</small></span>
                                                        <span>08 <small>mins</small></span>
                                                        <span>54 <small>secs</small></span>
                                                    </time>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sp-widget-align-none">
                                    <div id="sportspress-league-table-3" class="widget widget_sportspress widget_league_table widget_sp_league_table bigslam-widget">
                                        <h3 class="bigslam-widget-title">Info league</h3>
                                        <div class="sp-template sp-template-league-table">
                                            <div class="sp-table-wrapper">
                                                <table class="sp-league-table sp-data-table sp-sortable-table sp-scrollable-table sp-paginated-table" data-sp-rows="10">
                                                    <thead>
                                                        <tr>
                                                            <th class="data-rank">Pos</th>
                                                            <th class="data-name">Team</th>
                                                            <th class="data-w">W</th>
                                                            <th class="data-l">L</th>
                                                            <th class="data-pct">PCT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd sp-row-no-0">
                                                            <td class="data-rank" data-label="Pos">1</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="117" height="128" src="upload/team-8-117x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>New Yorkers</td>
                                                            <td class="data-w" data-label="W">1</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                            <td class="data-pct" data-label="PCT">1.000</td>
                                                        </tr>
                                                        <tr class="even sp-row-no-1">
                                                            <td class="data-rank" data-label="Pos">2</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="128" height="128" src="upload/team-9-128x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Antonio</td>
                                                            <td class="data-w" data-label="W">1</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                            <td class="data-pct" data-label="PCT">1.000</td>
                                                        </tr>
                                                        <tr class="odd sp-row-no-2">
                                                            <td class="data-rank" data-label="Pos">3</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="128" height="128" src="upload/team-6-128x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Los Angeles</td>
                                                            <td class="data-w" data-label="W">1</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                            <td class="data-pct" data-label="PCT">1.000</td>
                                                        </tr>
                                                        <tr class="even highlighted sp-row-no-3">
                                                            <td class="data-rank sp-highlight" data-label="Pos">4</td>
                                                            <td class="data-name has-logo sp-highlight" data-label="Team"><span class="team-logo"><img width="105" height="128" src="upload/team-1-105x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Big Slam</td>
                                                            <td class="data-w sp-highlight" data-label="W">7</td>
                                                            <td class="data-l sp-highlight" data-label="L">1</td>
                                                            <td class="data-pct sp-highlight" data-label="PCT">0.875</td>
                                                        </tr>
                                                        <tr class="odd sp-row-no-4">
                                                            <td class="data-rank" data-label="Pos">5</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="128" height="109" src="upload/team-7-128x109.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt=""></span>Oklahoma</td>
                                                            <td class="data-w" data-label="W">0</td>
                                                            <td class="data-l" data-label="L">0</td>
                                                            <td class="data-pct" data-label="PCT">0.000</td>
                                                        </tr>
                                                        <tr class="even sp-row-no-5">
                                                            <td class="data-rank" data-label="Pos">6</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="118" height="128" src="upload/team-10-118x128.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Miami Heat</td>
                                                            <td class="data-w" data-label="W">0</td>
                                                            <td class="data-l" data-label="L">1</td>
                                                            <td class="data-pct" data-label="PCT">0.000</td>
                                                        </tr>
                                                        <tr class="odd sp-row-no-6">
                                                            <td class="data-rank" data-label="Pos">7</td>
                                                            <td class="data-name has-logo" data-label="Team"><span class="team-logo"><img width="128" height="100" src="upload/team-3-128x100.png" class="attachment-sportspress-fit-icon size-sportspress-fit-icon wp-post-image" alt="" ></span>Boston Celtics</td>
                                                            <td class="data-w" data-label="W">0</td>
                                                            <td class="data-l" data-label="L">1</td>
                                                            <td class="data-pct" data-label="PCT">0.000</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}