{% extends "bases/base.html" %}

{% load static %}


{% block content %}


            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">Liste des Joeurs  &#8211; Gallerie</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                    <div class="gdlr-core-text-box-item-content">
                                        <div class="sportspress sp-widget-align-none">
                                            <div id='sp-player-gallery-63' class='gallery galleryid-63 gallery-columns-3 gallery-size-sportspress-crop-medium'>

                                                
                                                    
                                                
                                                <div class="sp-template sp-template-player-gallery sp-template-gallery">
                                                    <div class="sp-player-gallery-wrapper sp-gallery-wrapper">
                                                        <a name="group-0-guard" id="group-0-guard"></a>
                                                        <h4 class="sp-gallery-group-name player-group-name player-gallery-group-name">Pivot</h4>

                                                    {% for pivot in pivots %}
                                                        <dl class='gallery-item'>
                                                            <dt class='gallery-icon portrait'>
                                                                    <img width="300" height="300" src="{{pivot.photo.url}}" class="attachment-sportspress-crop-medium size-sportspress-crop-medium wp-post-image" alt="joueur" >
                                                            </dt>
                                                                <dd class="wp-caption-text gallery-caption small-3 columns has-number"><strong>{{pivot.maillot}}</strong>{{pivot.nom}} </dd>
                                                        </dl>
                                                    {% endfor %}

                                                    </div>
                                                </div>

                                                <div class="sp-template sp-template-player-gallery sp-template-gallery">
                                                    <div class="sp-player-gallery-wrapper sp-gallery-wrapper">
                                                        <a name="group-1-forward-guard" id="group-1-forward-guard"></a>
                                                        <h4 class="sp-gallery-group-name player-group-name player-gallery-group-name">Meneur</h4>
                                                        {% for meneur in meneurs %}
                                                            
                                                        <dl class='gallery-item'>
                                                            <dt class='gallery-icon portrait'><a href="#"><img width="300" height="300" src="{{meneur.photo.url}}" class="attachment-sportspress-crop-medium size-sportspress-crop-medium wp-post-image" alt="{{meneur.position}}" ></a></dt>
                                                                <dd class="wp-caption-text gallery-caption small-3 columns has-number"><strong>{{meneur.maillot}}</strong>{{meneur.nom}}</dd>
                                                        </dl>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="sp-template sp-template-player-gallery sp-template-gallery">
                                                    <div class="sp-player-gallery-wrapper sp-gallery-wrapper">
                                                        <a name="group-2-forward" id="group-2-forward"></a>
                                                        <h4 class="sp-gallery-group-name player-group-name player-gallery-group-name">Aillier</h4>
                                                       {% for ailier in ailiers %}
                                                            
                                                        <dl class='gallery-item'>
                                                            <dt class='gallery-icon portrait'><a href="#"><img width="300" height="300" src="{{ailier.photo.url}}" class="attachment-sportspress-crop-medium size-sportspress-crop-medium wp-post-image" alt="{{ailier.position}}" ></a></dt>
                                                            
                                                                <dd class="wp-caption-text gallery-caption small-3 columns has-number"><strong>{{ailier.maillot}}</strong>{{ailier.nom}}</dd>
                                                        </dl>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="sp-template sp-template-player-gallery sp-template-gallery">
                                                    <div class="sp-player-gallery-wrapper sp-gallery-wrapper">
                                                        <a name="group-3-forward-center" id="group-3-forward-center"></a>
                                                        <h4 class="sp-gallery-group-name player-group-name player-gallery-group-name">Arrière</h4>
                                                        {% for arriere in arrieres %}
                                                            
                                                        <dl class='gallery-item'>
                                                            <dt class='gallery-icon portrait'><a href="#"><img width="300" height="300" src="{{arriere.photo.url}}" class="attachment-sportspress-crop-medium size-sportspress-crop-medium wp-post-image" alt="{{arriere.position}}" ></a></dt>
                                                            
                                                                <dd class="wp-caption-text gallery-caption small-3 columns has-number"><strong>{{arriere.maillot}}</strong>{{arriere.nom}}</dd>
                                                        </dl>
                                                        {% endfor %}
                                                        
                                                    </div>
                                                </div>

                                               
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}