{% extends "bases/base.html" %}

{% load static %}


{% block content %}


            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">Portfolio 4 Columns With Frame</h1>
                        <div class="bigslam-page-caption">No Excerpt, With Space, With Frame</div>
                    </div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper ">
                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-portfolio-item gdlr-core-item-pdb clearfix  gdlr-core-portfolio-item-style-grid" style="padding-bottom: 10px ;">

                                        <div class="filter clearfix gdlr-core-filterer-wrap gdlr-core-js  gdlr-core-item-pdlr gdlr-core-style-text gdlr-core-center-align">
                                            <ul>
                                                <li><a href="#" class="active" data-filter="*">All</a></li>
                                                <li><a href="#" data-filter=".class1" >Gallery</a></li>
                                                <li><a href="#" data-filter=".class2" >Highlight</a></li>
                                                <li><a href="#" data-filter=".class3" >Photography</a></li>
                                            </ul>
                                        </div>  

                                        <div class="gdlr-core-portfolio-item-holder gdlr-core-js-2 filter-container clearfix" data-layout="masonry">
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class1 gdlr-core-column-15 gdlr-core-column-first">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="upload/shutterstock_220438474.jpg" data-ilightbox-group="gdlr-core-img-group-1" data-type="image"><img src="upload/shutterstock_220438474-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon icon_search"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Mattis Nibh Purus</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Furniture</a> <span class="gdlr-core-sep">/</span> <a href="#" rel="tag">Sofa</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class2 gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="//www.youtube.com/embed/j41IPfnh8CM?wmode=transparent&autoplay=1" data-ilightbox-group="gdlr-core-img-group-1" data-type="iframe" data-options="width: 1280, height: 720"><img src="upload/shutterstock_306179018-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon fa fa-film"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Cursus Vestibulum Sit</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Clock</a> <span class="gdlr-core-sep">/</span> <a href="#" rel="tag">Minimal</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class3 gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="upload/shutterstock_247257382.jpg" data-ilightbox-group="gdlr-core-img-group-1" data-type="image"><img src="upload/shutterstock_247257382-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon icon_search"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Typography Frame</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Fonts</a> <span class="gdlr-core-sep">/</span> <a href="#" rel="tag">Typography</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class1 gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="//www.youtube.com/embed/f7rNBUfgqOk?wmode=transparent&autoplay=1" data-ilightbox-group="gdlr-core-img-group-1" data-type="iframe" data-options="width: 1280, height: 720"><img src="upload/shutterstock_326061359-400x377.jpg" width="700" height="660" alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon fa fa-film"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Magna Fringilla Cras Parturient</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Cards</a></span></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class2 gdlr-core-column-15 gdlr-core-column-first">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="upload/pexels-photo-24546.jpg" data-ilightbox-group="gdlr-core-img-group-1" data-type="image"><img src="upload/pexels-photo-24546-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon icon_search"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Vestibulum Quam Ultricies</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Minimal</a> <span class="gdlr-core-sep">/</span> <a href="#" rel="tag">Typography</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class3 gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="upload/shoes-lebron-nike-spalding.jpg" data-caption="Caption here" data-ilightbox-group="gdlr-core-img-group-1" data-type="image"><img src="upload/shoes-lebron-nike-spalding-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon icon_search"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Fusce Dapibus Ultricies Mollis</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Chair</a> <span class="gdlr-core-sep">/</span> <a href="#" rel="tag">Minimal</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class1 gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="upload/shutterstock_105679292.jpg" data-ilightbox-group="gdlr-core-img-group-1" data-type="image"><img src="upload/shutterstock_105679292-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon icon_search"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Fitness Gallery</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Furniture</a> <span class="gdlr-core-sep">/</span> <a href="#" rel="tag">Minimal</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class2 gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="upload/shutterstock_217200307.jpg" data-ilightbox-group="gdlr-core-img-group-1" data-type="image"><img src="upload/shutterstock_217200307-400x377.jpg" width="700" height="660" alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon icon_search"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Snowboarding Technique</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Automotive</a> <span class="gdlr-core-sep">/</span> <a href="#" rel="tag">Car</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class3 gdlr-core-column-15 gdlr-core-column-first">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="upload/shutterstock_136301591.jpg" data-ilightbox-group="gdlr-core-img-group-1" data-type="image"><img src="upload/shutterstock_136301591-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon icon_search"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">How To Train Yourself</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Minimal</a></span></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class1 gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="//www.youtube.com/embed/BFx0zCw5eG8?wmode=transparent&autoplay=1" data-ilightbox-group="gdlr-core-img-group-1" data-type="iframe" data-options="width: 1280, height: 720"><img src="upload/pexels-photo-110180-400x377.jpeg" width="700" height="660" alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon fa fa-film"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Basketball Showcase</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Branding</a> <span class="gdlr-core-sep">/</span> <a href="#" rel="tag">Minimal</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class2 gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="//www.youtube.com/embed/4THYfNclY-4?wmode=transparent&autoplay=1" data-ilightbox-group="gdlr-core-img-group-1" data-type="iframe" data-options="width: 1280, height: 720"><img src="upload/shutterstock_547210306-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon fa fa-film"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">NBA Slam Dunk Show</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Branding</a> <span class="gdlr-core-sep">/</span> <a href="#" rel="tag">Minimal</a></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr class3 gdlr-core-column-15">
                                                <div class="gdlr-core-portfolio-grid  gdlr-core-left-align gdlr-core-style-with-frame gdlr-core-js" data-sync-height="portfolio-item-1">
                                                    <div class="gdlr-core-portfolio-grid-frame gdlr-core-skin-e-background" style="opacity: 1 ;"></div>
                                                    <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-icon">
                                                        <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                            <a class="gdlr-core-ilightbox gdlr-core-js " href="upload/shutterstock_136053347.jpg" data-ilightbox-group="gdlr-core-img-group-1" data-type="image"><img src="upload/shutterstock_136053347-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-icon-wrap"><i class="gdlr-core-portfolio-icon icon_search"></i></span></span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-portfolio-content-wrap gdlr-core-skin-divider">
                                                        <h3 class="gdlr-core-portfolio-title gdlr-core-skin-title" style="font-size: 17px ;font-weight: 600 ;letter-spacing: 0px ;"><a href="#">Biking In The Forest</a></h3><span class="gdlr-core-portfolio-info gdlr-core-portfolio-info-tag gdlr-core-info-font gdlr-core-skin-caption"><a href="#" rel="tag">Branding</a></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}