{% extends "bases/base.html" %}

{% load static %}


{% block content %}

            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">Portfolio Masonry 4 Columns</h1>
                        <div class="bigslam-page-caption">No Excerpt, With Space</div>
                    </div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-portfolio-item gdlr-core-item-pdb clearfix  gdlr-core-portfolio-item-style-metro" style="padding-bottom: 10px ;">
                                    <div class="gdlr-core-portfolio-item-holder gdlr-core-js-2 clearfix" data-layout="masonry">
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15 gdlr-core-column-first">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/shutterstock_220438474-400x377.jpg" width="700" height="660"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">Mattis Nibh Purus</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/shutterstock_306179018-400x533.jpg" width="600" height="800"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">Cursus Vestibulum Sit</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/shutterstock_247257382-400x257.jpg" width="700" height="450"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">Typography Frame</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/shutterstock_326061359-400x377.jpg" width="700" height="660" alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">Magna Fringilla Cras Parturient</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15 gdlr-core-column-first">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/pexels-photo-24546-400x533.jpg" width="600" height="800" alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">Vestibulum Quam Ultricies</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/shoes-lebron-nike-spalding-400x257.jpg" width="700" height="450"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">Fusce Dapibus Ultricies Mollis</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/shutterstock_105679292-400x377.jpg" width="700" height="660" alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">Fitness Gallery</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/shutterstock_217200307-400x533.jpg" width="600" height="800"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">Snowboarding Technique</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15 gdlr-core-column-first">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/shutterstock_136301591-400x533.jpg" width="600" height="800"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">How To Train Yourself</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/pexels-photo-110180-400x257.jpeg" width="700" height="450"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">Basketball Showcase</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-item-mgb gdlr-core-column-15">
                                            <div class="gdlr-core-portfolio-metro">
                                                <div class="gdlr-core-portfolio-thumbnail gdlr-core-media-image  gdlr-core-style-title  gdlr-core-metro-rvpdlr">
                                                    <div class="gdlr-core-portfolio-thumbnail-image-wrap  gdlr-core-zoom-on-hover">
                                                        <a href="#"><img src="upload/shutterstock_547210306-400x533.jpg" width="600" height="800"  alt=""><span class="gdlr-core-image-overlay  gdlr-core-portfolio-overlay gdlr-core-image-overlay-center-icon gdlr-core-js"><span class="gdlr-core-image-overlay-content"><span class="gdlr-core-portfolio-title gdlr-core-title-font " style="font-size: 15px ;font-weight: 600 ;letter-spacing: 0px ;">NBA Slam Dunk Show</span></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-load-more-wrap gdlr-core-js gdlr-core-center-align gdlr-core-item-pdlr" data-ajax="gdlr_core_portfolio_ajax"  data-target="gdlr-core-portfolio-item-holder" data-target-action="append"><a href="#" class="gdlr-core-load-more gdlr-core-button-color" data-ajax-name="paged" data-ajax-value="2">Load More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
{% endblock %}