{% extends "bases/base.html" %}

{% load static %}


{% block content %}



            <div class="bigslam-page-title-wrap  bigslam-style-medium bigslam-center-align">
                <div class="bigslam-header-transparent-substitute"></div>
                <div class="bigslam-page-title-overlay"></div>
                <div class="bigslam-page-title-container bigslam-container">
                    <div class="bigslam-page-title-content bigslam-item-pdlr">
                        <h1 class="bigslam-page-title">Match &#8211; Du Soir</h1></div>
                </div>
            </div>
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-section">
                        <div class="gdlr-core-pbf-section-container gdlr-core-container clearfix">
                            <div class="gdlr-core-pbf-element">
                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 10px ;">
                                    <div class="gdlr-core-text-box-item-content">
                                        <div class="sportspress sp-widget-align-none">
                                            <div class="sp-template sp-template-event-list">
                                                <div class="bigslam-sp-event-featured-holder clearfix">

                                                   
                                                    {% for rencontre in rencontres %}
                                                        
                                                    <div class="bigslam-sp-event-featured-list clearfix">
                                                        <div class="bigslam-sp-event-featured-title bigslam-title-font"><span class="bigslam-sp-team-name">BigSlam</span><span class="bigslam-sp-event-result"><a href="#">VS</a></span><span class="bigslam-sp-team-name">{{rencontre.adversaire}}</span></div>
                                                        <div class="bigslam-sp-event-featured-info"><span class="bigslam-sp-event-date">{{rencontre.date_start}}</span><span class="bigslam-sp-event-venue"><a href="#" rel="tag">{{rencontre.stade}}</a></span>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}