{% extends "bases/base.html" %}

{% load static %}


{% block content %}
            <div class="bigslam-page-wrapper" id="bigslam-page-wrapper">
                <div class="bigslam-blog-title-wrap  bigslam-style-small">
                    <div class="bigslam-header-transparent-substitute"></div>
                    <div class="bigslam-blog-title-top-overlay"></div>
                    <div class="bigslam-blog-title-overlay"></div>
                    <div class="bigslam-blog-title-container bigslam-container">
                        <div class="bigslam-blog-title-content bigslam-item-pdlr">
                            <header class="bigslam-single-article-head clearfix">
                                <div class="bigslam-single-article-date-wrapper">
                                    <div class="bigslam-single-article-date-day">06</div>
                                    <div class="bigslam-single-article-date-month">Jun</div>
                                    <div class="bigslam-single-article-date-year">2016</div>
                                </div>
                                <div class="bigslam-single-article-head-right">
                                    <h1 class="bigslam-single-article-title">Standard Post Type</h1>
                                    <div class="bigslam-blog-info-wrapper">
                                        <div class="bigslam-blog-info bigslam-blog-info-font bigslam-blog-info-category"><span class="bigslam-head"><i class="icon_folder-alt"></i></span><a href="#" rel="tag">Blog</a><span class="gdlr-core-sep">,</span> <a href="#" rel="tag">Post Format</a></div>
                                        <div class="bigslam-blog-info bigslam-blog-info-font bigslam-blog-info-tag"><span class="bigslam-head"><i class="icon_tags_alt"></i></span><a href="#" rel="tag">News</a></div>
                                        <div class="bigslam-blog-info bigslam-blog-info-font bigslam-blog-info-comment-number"><span class="bigslam-head"><i class="icon_comment_alt"></i></span>2 </div>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
                <div class="bigslam-content-container bigslam-container">
                    <div class=" bigslam-sidebar-wrap clearfix bigslam-line-height-0 bigslam-sidebar-style-right">
                        <div class=" bigslam-sidebar-center bigslam-column-40 bigslam-line-height">
                            <div class="bigslam-content-wrap bigslam-item-pdlr clearfix">
                                <div class="bigslam-content-area">
                                    <article id="post-1268" class="post-1268 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-post-format tag-news">
                                        <div class="bigslam-single-article">
                                            <div class="bigslam-single-article-thumbnail bigslam-media-image"><img src="upload/shutterstock_232351570-800x533.jpg" width="1800" height="1200" srcset="upload/shutterstock_232351570-400x266.jpg 400w, upload/shutterstock_232351570-600x400.jpg 600w, upload/shutterstock_232351570-800x533.jpg 800w, upload/shutterstock_232351570.jpg 1800w" sizes="(max-width: 767px) 100vw, (max-width: 1150px) 100vw, 1150px" alt=""></div>
                                            <div class="bigslam-single-article-content">
                                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, <strong>which was created for the bliss of souls like mine</strong>. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</p>
                                                <h5>When, while the lovely valley teems with</h5>
                                                <p>vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us in an eternity of blist.</p>
                                                <blockquote>
                                                    <p>I sink under the weight of the splendour of these visions!A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which</p>
                                                </blockquote>
                                                <p>I sink under the weight of the splendour of these visions!A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquis</p>
                                                <h6>I throw myself down among the tall grass</h6>
                                                <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and
                                                    <br>
                                                    <span class="gdlr-core-space-shortcode" style="margin-top: 30px ;"></span></p>
                                                <p><img class="alignnone size-full wp-image-4441" src="upload/shutterstock_547210306.jpg" alt="" width="1800" height="1184" srcset="upload/shutterstock_547210306.jpg 1800w, upload/shutterstock_547210306-600x395.jpg 600w, upload/shutterstock_547210306-300x197.jpg 300w, upload/shutterstock_547210306-768x505.jpg 768w, upload/shutterstock_547210306-1024x674.jpg 1024w, upload/shutterstock_547210306-60x39.jpg 60w, upload/shutterstock_547210306-128x84.jpg 128w, upload/shutterstock_547210306-32x21.jpg 32w" sizes="(max-width: 1800px) 100vw, 1800px"></p>
                                                <span class="gdlr-core-space-shortcode" style="margin-top: 30px ;"></span>
                                                <h6>Text, that where it came from it</h6>
                                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Littl</p>
                                                <ul>
                                                    <li>Far far away, behind the word mountain</li>
                                                    <li>When she reached the first hills</li>
                                                    <li>A small river named Duden flows</li>
                                                    <li>A small river named Duden flows by their plat.</li>
                                                    <li>Far far away, behind the word mountain</li>
                                                </ul>
                                                <p>Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their projects again and again. And if she hasn’t been rewritten, then they are still using her.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their plate.</p>
                                            </div>
                                        </div>
                                        <!-- bigslam-single-article -->
                                    </article>
                                    <!-- post-id -->
                                </div>
                                <div class="bigslam-page-builder-wrap bigslam-item-rvpdlr">
                                    <div class="gdlr-core-page-builder-body"></div>
                                </div>

                                <div class="clear"></div>
                                <div class="bigslam-single-author">
                                    <div class="bigslam-single-author-wrap">
                                        <div class="bigslam-single-author-avartar bigslam-media-image"><img alt='' src='https://secure.gravatar.com/avatar/67b587616031ee8e892e9418558406ed?s=90&d=mm&r=g' class='avatar avatar-90 photo' height='90' width='90'></div>
                                        <div class="bigslam-single-author-content-wrap">
                                            <div class="bigslam-single-author-caption bigslam-info-font">About the author</div>
                                            <h4 class="bigslam-single-author-title"><a href="#" title="Posts by John Smith" rel="author">John Smith</a></h4>
                                            <div class="bigslam-single-author-description">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Curabitur blandit tempus porttitor. Etiam porta sem malesuada.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bigslam-single-nav-area clearfix"><span class="bigslam-single-nav bigslam-single-nav-left"><a href="../image-post-format/index.htm" rel="prev"><i class="arrow_left"></i><span class="bigslam-text">Prev</span></a>
                                    </span><span class="bigslam-single-nav bigslam-single-nav-right"><a href="../this-is-an-awesome-sticky-post/index.htm" rel="next"><span class="bigslam-text">Next</span><i class="arrow_right"></i></a>
                                    </span>
                                </div>
                                <div id="comments" class="bigslam-comments-area">
                                    <div class="bigslam-comments-title">2 Responses</div>
                                    <ol class="comment-list">
                                        <li class="comment byuser comment-author-superuser bypostauthor even thread-even depth-1" id="li-comment-5">
                                            <article id="comment-5" class="comment-article">
                                                <div class="comment-avatar"><img alt='' src='https://secure.gravatar.com/avatar/67b587616031ee8e892e9418558406ed?s=90&d=mm&r=g' class='avatar avatar-90 photo' height='90' width='90'></div>
                                                <div class="comment-body">
                                                    <header class="comment-meta">
                                                        <div class="comment-author bigslam-title-font">John Smith</div>
                                                        <div class="comment-time bigslam-info-font">
                                                            <a href="index.htm#comment-5">
                                                                <time datetime="2016-11-26T15:04:44+00:00">
                                                                    November 26, 2016 at 3:04 pm </time>
                                                            </a>
                                                        </div>
                                                        <div class="comment-reply">
                                                            <a rel='nofollow' class='comment-reply-link' href='index-1.htm?replytocom=5#respond' data-commentid="5" data-postid="1268" data-belowelement="comment-5" data-respondelement="respond" aria-label='Reply to John Smith'>Reply</a> </div>
                                                        <!-- reply -->
                                                    </header>

                                                    <section class="comment-content">
                                                        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                                    </section>
                                                    <!-- comment-content -->

                                                </div>
                                                <!-- comment-body -->
                                            </article>
                                            <!-- comment-article -->
                                        </li>
                                        <!-- #comment-## -->
                                        <li class="comment byuser comment-author-superuser bypostauthor odd alt thread-odd thread-alt depth-1" id="li-comment-6">
                                            <article id="comment-6" class="comment-article">
                                                <div class="comment-avatar"><img alt='' src='https://secure.gravatar.com/avatar/67b587616031ee8e892e9418558406ed?s=90&d=mm&r=g' class='avatar avatar-90 photo' height='90' width='90'></div>
                                                <div class="comment-body">
                                                    <header class="comment-meta">
                                                        <div class="comment-author bigslam-title-font">John Smith</div>
                                                        <div class="comment-time bigslam-info-font">
                                                            <a href="index.htm#comment-6">
                                                                <time datetime="2016-11-26T15:05:18+00:00">
                                                                    November 26, 2016 at 3:05 pm </time>
                                                            </a>
                                                        </div>
                                                        <div class="comment-reply">
                                                            <a rel='nofollow' class='comment-reply-link' href='index-2.htm?replytocom=6#respond' data-commentid="6" data-postid="1268" data-belowelement="comment-6" data-respondelement="respond" aria-label='Reply to John Smith'>Reply</a> </div>
                                                        <!-- reply -->
                                                    </header>

                                                    <section class="comment-content">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </section>
                                                    <!-- comment-content -->

                                                </div>
                                                <!-- comment-body -->
                                            </article>
                                            <!-- comment-article -->
                                        </li>
                                        <!-- #comment-## -->
                                    </ol>
                                    <div id="respond" class="comment-respond">
                                        <h4 id="reply-title" class="comment-reply-title bigslam-content-font">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.htm#respond" style="display:none;">Cancel Reply</a></small></h4>
                                        <form action="#" method="post" id="commentform" class="comment-form" novalidate="">
                                            <div class="comment-form-comment">
                                                <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment*"></textarea>
                                            </div>
                                            <div class="comment-form-head">
                                                <div class="bigslam-comment-form-author">
                                                    <input id="author" name="author" type="text" value="" placeholder="Name*" size="30" aria-required='true'>
                                                </div>
                                                <div class="bigslam-comment-form-email">
                                                    <input id="email" name="email" type="text" value="" placeholder="Email*" size="30" aria-required='true'>
                                                </div>
                                                <input id="url" name="url" type="text" value="" placeholder="Website" size="30">
                                                <div class="clear"></div>
                                            </div>
                                            <p class="comment-form-cookies-consent">
                                                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                                <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label>
                                            </p>
                                            <p class="form-submit">
                                                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                                                <input type='hidden' name='comment_post_ID' value='1268' id='comment_post_ID'>
                                                <input type='hidden' name='comment_parent' id='comment_parent' value='0'>
                                            </p>
                                            <!-- Anti-spam plugin v.5.5 wordpress.org/plugins/anti-spam/ -->
                                            <p class="antispam-group antispam-group-q" style="clear: both;">
                                                <label>Current <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6a130f2a18">[email&#160;protected]</a> <span class="required">*</span></label>
                                                <input type="hidden" name="antspm-a" class="antispam-control antispam-control-a" value="2019">
                                                <input type="text" name="antspm-q" class="antispam-control antispam-control-q" value="5.5" autocomplete="off">
                                            </p>
                                            <p class="antispam-group antispam-group-e" style="display: none;">
                                                <label>Leave this field empty</label>
                                                <input type="text" name="antspm-e-email-url-website" class="antispam-control antispam-control-e" value="" autocomplete="off">
                                            </p>
                                        </form>
                                    </div>
                                    <!-- #respond -->
                                </div>
                                <!-- bigslam-comments-area -->
                            </div>
                        </div>
                        <div class=" bigslam-sidebar-right bigslam-column-20 bigslam-line-height bigslam-line-height">
                            <div class="bigslam-sidebar-area bigslam-item-pdlr">
                                <div id="text-7" class="widget widget_text bigslam-widget">
                                    <h3 class="bigslam-widget-title">Text Widget</h3>
                                    <div class="textwidget">Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Etiam porta sem malesuada.</div>
                                </div>
                                <div id="gdlr-core-recent-post-widget-2" class="widget widget_gdlr-core-recent-post-widget bigslam-widget">
                                    <h3 class="bigslam-widget-title">Recent News</h3>
                                    <div class="gdlr-core-recent-post-widget-wrap gdlr-core-style-1">
                                        <div class="gdlr-core-recent-post-widget clearfix">
                                            <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src="upload/shutterstock_109996532-150x150.jpg" alt="" width="150" height="150" title="shutterstock_109996532"></div>
                                            <div class="gdlr-core-recent-post-widget-content">
                                                <div class="gdlr-core-recent-post-widget-title"><a href="#">I throw myself down among the tall</a></div>
                                                <div class="gdlr-core-recent-post-widget-info"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="fa fa-clock-o"></i></span><a href="../index.htm">June 6, 2016</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head"><i class="fa fa-user-o"></i></span><a href="#" title="Posts by John Smith" rel="author">John Smith</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-recent-post-widget clearfix">
                                            <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src="upload/pexels-photo-110180-150x150.jpeg" alt="" width="150" height="150" title="pexels-photo-110180"></div>
                                            <div class="gdlr-core-recent-post-widget-content">
                                                <div class="gdlr-core-recent-post-widget-title"><a href="#">I am so happy, my dear friend</a></div>
                                                <div class="gdlr-core-recent-post-widget-info"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="fa fa-clock-o"></i></span><a href="../index.htm">June 6, 2016</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head"><i class="fa fa-user-o"></i></span><a href="#" title="Posts by John Smith" rel="author">John Smith</a></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gdlr-core-recent-post-widget clearfix">
                                            <div class="gdlr-core-recent-post-widget-thumbnail gdlr-core-media-image"><img src="upload/shutterstock_326061359-150x150.jpg" alt="" width="150" height="150" title="shutterstock_326061359"></div>
                                            <div class="gdlr-core-recent-post-widget-content">
                                                <div class="gdlr-core-recent-post-widget-title"><a href="#">Even the all-powerful Pointing</a></div>
                                                <div class="gdlr-core-recent-post-widget-info"><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date"><span class="gdlr-core-head"><i class="fa fa-clock-o"></i></span><a href="../index.htm">June 6, 2016</a></span><span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author"><span class="gdlr-core-head"><i class="fa fa-user-o"></i></span><a href="#" title="Posts by John Smith" rel="author">John Smith</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="recent-comments-5" class="widget widget_recent_comments bigslam-widget">
                                    <h3 class="bigslam-widget-title">Recent Comments</h3>
                                    <ul id="recentcomments">
                                        <li class="recentcomments"><span class="comment-author-link">John Smith</span> on <a href="#">Big Slam VS New Yorkers</a></li>
                                        <li class="recentcomments"><span class="comment-author-link">John Smith</span> on <a href="#">Big Slam VS New Yorkers</a></li>
                                        <li class="recentcomments"><span class="comment-author-link">John Smith</span> on <a href="#">Gallery Post Format</a></li>
                                        <li class="recentcomments"><span class="comment-author-link">John Smith</span> on <a href="#">Gallery Post Format</a></li>
                                        <li class="recentcomments"><span class="comment-author-link">John Smith</span> on <a href="index.htm">Standard Post Type</a></li>
                                    </ul>
                                </div>
                                <div id="gdlr-core-recent-portfolio-widget-3" class="widget widget_gdlr-core-recent-portfolio-widget bigslam-widget">
                                    <h3 class="bigslam-widget-title">Recent Works</h3>
                                    <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/shutterstock_220438474-150x150.jpg" alt="" width="150" height="150" title="shutterstock_220438474"><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon  gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/shutterstock_306179018-150x150.jpg" alt="" width="150" height="150" title="shutterstock_306179018"><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon  gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/shutterstock_247257382-150x150.jpg" alt="" width="150" height="150" title="shutterstock_247257382"><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon  gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/shutterstock_326061359-150x150.jpg" alt="" width="150" height="150" title="shutterstock_326061359"><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon  gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/pexels-photo-24546-150x150.jpg" alt="" width="150" height="150" title="pexels-photo-24546"><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon  gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/shoes-lebron-nike-spalding-150x150.jpg" alt="" width="150" height="150" title="shoes-lebron-nike-spalding"><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon  gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/shutterstock_105679292-150x150.jpg" alt="" width="150" height="150" title="shutterstock_105679292"><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon  gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                        <div class="gdlr-core-recent-portfolio-widget gdlr-core-media-image">
                                            <a href="#"><img src="upload/shutterstock_217200307-150x150.jpg" alt="" width="150" height="150" title="shutterstock_217200307"><span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon  gdlr-core-size-15 icon_link_alt"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="tag_cloud-3" class="widget widget_tag_cloud bigslam-widget">
                                    <h3 class="bigslam-widget-title">Tag Cloud</h3>
                                    <div class="tagcloud">
                                        <a href="#" class="tag-cloud-link tag-link-14 tag-link-position-1" style="font-size: 8pt;" aria-label="Article (1 item)">Article</a>
                                        <a href="#" class="tag-cloud-link tag-link-15 tag-link-position-2" style="font-size: 8pt;" aria-label="Building (1 item)">Building</a>
                                        <a href="#" class="tag-cloud-link tag-link-16 tag-link-position-3" style="font-size: 16.75pt;" aria-label="Constructions (3 items)">Constructions</a>
                                        <a href="#" class="tag-cloud-link tag-link-17 tag-link-position-4" style="font-size: 22pt;" aria-label="Industry (5 items)">Industry</a>
                                        <a href="#" class="tag-cloud-link tag-link-18 tag-link-position-5" style="font-size: 22pt;" aria-label="Metal (5 items)">Metal</a>
                                        <a href="#" class="tag-cloud-link tag-link-19 tag-link-position-6" style="font-size: 16.75pt;" aria-label="Mining (3 items)">Mining</a>
                                        <a href="#" class="tag-cloud-link tag-link-20 tag-link-position-7" style="font-size: 19.666666666667pt;" aria-label="Nature (4 items)">Nature</a>
                                        <a href="#" class="tag-cloud-link tag-link-21 tag-link-position-8" style="font-size: 13.25pt;" aria-label="News (2 items)">News</a>
                                        <a href="#" class="tag-cloud-link tag-link-22 tag-link-position-9" style="font-size: 8pt;" aria-label="Oil (1 item)">Oil</a>
                                        <a href="#" class="tag-cloud-link tag-link-23 tag-link-position-10" style="font-size: 22pt;" aria-label="Polymer (5 items)">Polymer</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
{% endblock blockname %}